<div class="container">
  <h1>Your booking</h1>
  <p>Hey, <%= @booking.user.email %>!</p>
    You booked the <strong><%= @booking.sofa.name %></strong></p>
  <h4>Enjoy it!</h4>
<%= link_to 'Home', sofas_path %>
</div>

