<div class="navbar-canapyay">
  <!-- Logo -->
  <div class= "navbar-logo">
    <%= link_to root_path do %>
    <i class="fas fa-couch"></i>
    <% end %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-canapyay-right hidden-xs hidden-sm">

    <%= link_to new_sofa_path, class: 'navbar-canapyay-link' do %>
      <div class="navbar-canapyay-item">Add a sofa</div>
    <% end %>
    <%= link_to new_user_session_path, class: 'navbar-canapyay-link' do  %>
      <div class="navbar-canapyay-item">Login</div>
    <% end %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-canapyay-item">
      <div class="dropdown">
        <img src="https://zurich.impacthub.ch/wp-content/uploads/2016/04/16_Web_Preview_CaroleDouchy-270x162.jpg" class="avatar dropdown-toggle" id="navbar-canapyay-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-canapyay-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-canapyay-link' do %>
              <div>Log out</div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
