
<div class="banner">
  <div class="banner-content">
    <h1>Welcome to CanapYAY</h1>
    <p>Need an extra sofa? Rent it easily, delivered to your home</p>
     <%= render 'shared/search' %>
  </div>
</div>






