
<h1>Sofas directory</h1>

<div class="container">
  <div class="row">
    <% @sofas.each do |sofa| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://ksassets.timeincuk.net/wp/uploads/sites/56/2018/08/Autumnal-sofa-trends-global-625x500.jpg');">
          <div class="card-location">
            <%= sofa.location %>
          </div>
          <div class="card-name">
            <h2><%= sofa.name %></h2>
          </div>
          <div class="card-description">
          </div>
          <img class="card-user" src="https://zurich.impacthub.ch/wp-content/uploads/2016/04/16_Web_Preview_CaroleDouchy-270x162.jpg">
          <a class="card-link" href="#" ></a>
        </div>
        <p><%= sofa.description %></p>
        <%= link_to "View Details", sofa_path(sofa.id)  %>
      </div>
    <% end %>
  </div>
</div>
