<h1>Sofas#index</h1>
<p><% @sofas.each do |sofa|  %></p>
  <li><%= sofa.name %></li>
  <li><%= sofa.description %></li>
  <li><%= sofa.price_per_day %></li>
  <%= link_to "View Details", sofa_path(:id)  %>
<% end %>

