button {
  background-color: #F26F29;
  text-decoration: none;
  color: white;
  border: solid 1px  #F26F29;
  border-radius: 20px;
  padding: 5px 30px;
}

button:hover {
  background-color: #F2A67D;
  border: solid 1px #F2A67D;
}

.link-to-button {
  background-color: #F26F29;
  text-decoration: none;
  color: white;
  border: solid 1px  #F26F29;
  border-radius: 20px;
  padding: 5px 30px;
}

.link-to-button:hover {
  background-color: #F2A67D;
  border: solid 1px #F2A67D;
  text-decoration: none;
   color: white;
}

#button-center {
  background-color: #F26F29;
  text-decoration: none;
  color: white;
  border: solid 1px  #F26F29;
  border-radius: 20px;
  padding: 5px 300px;
}
