.dashboard {
  width: 800px;
  padding: 30px;
  background-color: white;
  margin: auto;
  text-align: left;
  margin-bottom: 30px;
}

.dashboard-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 0px;
}

.dashboard-map {
  position: relative;
}

.mapboxgl-canvas{
  position: static;
}
